*{
     font-family: "幼圆";
}

header{
    margin: 0 auto;
    height: 43px;
    position: fixed;
    z-index: 200;
    width: 100%;
    background-color: white;
    top: 0;
}
/*===============导航栏样式==========================*/
.navigation  {/*
    background-color: black;*/
    padding:0;
    margin: 0px;
    height: 60px;
}

.menu {
    font-size: 20px;
    float: right;
    margin-right: 50px;
    text-transform: uppercase;
    font-weight: 600;
}

.menu ul.nav-tabs li {
    color: #fff;
}

.nav{
    z-index: 2;
}

.nav-tabs {
    /*===将bootstrap里面自带的下划线去掉=====*/
    border-bottom: 0px;
}

.nav-tabs > li {
    z-index: 200;
    margin-left: -20px;
    float: left;
    margin-bottom: 0;/*
    background-color: black;*/
}

.nav-tabs > li > a {
    border-radius: 0;
    color: #000;
    padding: 30px;
    height: 60px;
}

.nav-tabs > li > a:hover {
    text-decoration: underline;
    color: #49cbfb;
    border-color: #fff #fff #fff;
    border-radius: 0;
    background-color: white;
    /*==导航栏动画，划过时停留0.3s==*/
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.nav-tabs > li > a.active {
    color: #49cbfb;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/*=======给整个缩小的环境设置背景==========*/
.collapse{
    background-color: white;
}

.logo{
   float: left;
    margin-left: 100px;
    margin-top: 0px;
}

.logoimg{
    width: 70px;
    height: 60px;

}


.logoimg1{
    position: relative;
    left: -2px;
    top: 0px;
}

.logo img{
    width: 180px;
    height: 60px;
}

.nav-tabs>li>a{
    line-height: 10px;
}





.mini-nav{
    display: none;
}


.mini-title{
    display: inline-block;
    color: white;
    font-family: "幼圆";
}

/*返回按钮*/
.btn-smallicon{
    background-color: white;
    border-radius: 8px;
}
#btn-back{
    border:none;
    position: absolute;
    left: 0;
    top: 5px;
}
#btn-back:hover{
    background-color: white;
}

.btn-smallicon{
    color: white;
}
.btn-smallicon span{
    font-size: 20px;
    color: white;
}


footer{
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "幼圆";
    background-color:  #fff;
    border-top: 1px solid #ddd;
    bottom: 0;
    text-align: center;
}



footer svg.iconstyle{
    width: 25%;
    height: 60%;
    color: gray;
    height: 20px;
}

footer svg.svgactive{
    color:#6666CC;
}

 .icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
   color: #ddd;
}


/**
    媒体查询
*/
@media screen and (max-width: 768px) {
    
    nav{
        display: none;
    }
    
    .mini-nav{
        background-color:  #6666cc;
        height: 43px;
        position: fixed;
        width: 100%;
        z-index: 2000;
        display: flex;
        justify-content: center;
        align-items: center;/*
        display: none;*/
    }
    
    
  
    .nav-position{
        display: none;
    }

}

@media screen and (min-width:768px) and (max-width:1000px) {
    .logo{
        display: none;
    }
}



@media screen and (min-width: 1200px) {
    footer{
        display: none;    
    }
}

        
        