/*==================================
                头部
=====================================*/    
body{
    position: relative;
    background-color: #eee;
}



#btn-show{
    position: absolute;
    right: 0px;
}


/*============================
身体部分
============================*/
article{
    width: 100%;
    height: auto;
    background-color: #eee;
    position: relative;
    /*margin-top: 30px;*/
    display: flex;
}


/*视频分类*/
.video-catedory{
    width:18%;
    height:auto;
    /*height: 500px;*/
    background-color: white;
    position: absolute;
    left: 10%;
    top: 80px;
    border:1px solid #ddd;
}

.video-catedory ul{
    text-align: left;
}


.video-catedory ul li{
    text-align: left;
    list-style: none;
    margin-left: -40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    /*list-style-position:inherit;*/
}

.video-catedory ul li:not([class="clickshow"]):hover{
    border-left: 3px solid lightgray;
    cursor: pointer;
    color: lightskyblue;
}

.clickshow{
    border-left: 3px solid lightskyblue;
    color: lightskyblue;
}

/*=====================================================================================*/

/*视频列表*/
.video-list{
    width: 58%;
    height: auto;
    /*height: 500px;*/
    background-color: white;
    position: absolute;
    right: 10%;
    top: 80px;
    display: flex;
    flex-flow: wrap row;
}

.class-title{
    display: block;
    width: 100%;
    background-color: #eee;
    font-size: 20px;
    color: gray;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.class-msg{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
}

.clas-img{
    width: 30%;
    height: auto;
    border: 2px solid #ddd;
    box-sizing: border-box;
}

.clas-img img{
    width: 100%;
    height: auto;
}

.clas-img:after{
    content: '';
    position: absolute;
    left: 30%;
    top: 49px;
    width: 0;
    height: 0;
    border-left: 10px solid #ddd;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

/*课程介绍*/
.class-intruduce{
    display: inline-block;
    width: 60%;
    height:auto;
    position: absolute;
    right: 5%;
    font-size: 1.2vm;
}

.class-items:nth-child(1){
    margin-top: 10px;
}

.class-items{
    padding: 0.5vw;
}


/*课程具体章节*/
.class-items-msg{
    width: 100%;
}
.peritem-msg{
    width: 100%;
    font-size: 16px;
    color: gray;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    
}

.peritem-box ul{
    border: 1px solid #ddd;
    margin-left: 20px;
    margin-right: 20px;
}

.peritem-box ul li{
    list-style: none;
    padding-left: -40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    margin-left: -20px;
    cursor: pointer;
   /* background-color: #ddd;*/
    
}

.peritem-box ul li span:nth-child(1){
    padding-left: -10px;
    margin-right: 15px;
    color: lightgray;
}

/*已经学过的课程打上标记*/
.peritem-box ul li>span.class-learned{
    color: lightskyblue;
}

.peritem-box ul li:hover .peritem-study{
    /*color: lightgray;*/
    /*margin-left: -16px;*/
    background-color: rgba(135,206,250,1);
}

.peritem-study{
    float: right;
    margin-right: 20px;
    background-color: rgba(135,206,250,0.3);
    color: gray;
    border-radius: 5px;
    padding: 4px;
    font-size: 14px;
}





/**
    媒体查询
*/
@media screen and (max-width: 768px) {
    .nav-position{
        display: none;
    }
    

    /*移动端的小导航栏*/
    .mini-nav{
        background-color:  #5dabf0;
        height: 40px;
        position: fixed;
        width: 100%;
        z-index: 2000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
   
    
    /*视频分类*/
    .video-catedory{
        /*position: fixed;*/
        width:45%;
        left: 55%;
        top: 40px;
        float: right;
        border:1px solid #ddd;
        z-index: 200;
        display: none;
    }

    /*视频列表*/
    .video-list{
        width: 90%;
        right: 5%;
        top: 0;
    }
    
    /*课程介绍自适应*/
    
    .clas-img{
        width: 40%;
    }
    
    .clas-img img{
        width: 100%;
    }
    
    .clas-img:after{
        left: 40%;
    }
    
    .class-intruduce{
        width: 50%;
    }
    .class-items{
        padding: 0.1vw;
    }

}

@media screen and (min-width:768px) and (max-width:1200px) {
    /*视频分类*/
    .video-catedory{
        width:25%;
        left: 5%;
        top: 80px;
        display: block;
    }

    /*视频列表*/
    .video-list{
        width: 60%;
        right: 5%;
    }
    
}

@media screen and (min-width: 1200px) {
    
    .video-catedory{
        display: block;
    }
}