
/*可以滑动条*/
body{
    background-color: #f7f7f7;
}
.nav-menu{
    background-color: #6666cc;
    font-size: 1.3em;
}
.menus{
    height: 43px;    
    overflow: hidden;
}
.menus-scroll{
    height: 43px;
}
.menus-scroll li{
    height: 43px;
    float: left;
    display: inline-block;
    margin:10px 10px;
    color: #fff;
}
text-center{
    text-align: center;
}

.icon-down{
    height: 43px;
    line-height: 43px;
    color: #ffffff;
}

enus-block{
    padding-bottom: 20px;
}

.text-white{
    color: #ffffff;
}

.menus-block li{
    border-radius: 5px;
    padding: 3px 10px;
    margin:10px 5px;
    float: left;
}
.menus-block li:hover{
    color: lightgrey;
}
.menus-scroll li:hover{
    color: lightgrey;
}
.text-left-center{
    line-height: 50px;
    float: left;
}
.margin-10{
    margin:0 16px;
}
#menu-block{
    display: none;
}
#menu-scroll{
    display: block;
}
/*新闻正业*/
a:link {color:#0f0f0f;}
.news-content{
    margin-top: 50px;
    padding:0px 16px;
}
.new-info{
    box-shadow: 0 0 4px lightgrey;
    border-radius: 4px;
}
.news-content li p{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#news-content-list{
    list-style: none;
}
#news-content-list li{
    margin-top: 10px;
    border: 0.5px solid lightgrey;
    padding:0px 16px;
}












